/*
 * $Id: basic.css,v 1.4 2005-03-22 00:41:11 anderson Exp $
 *
 * Defines default values for html elements and
 * sets up a centered content area with this structure:
 *
 * body
 * --container
 * -- --wrapper
 * -- -- --maincontent
 * -- -- --footer
 * -- --postfooter
 *
 */

/* hide this part from IE-mac \*/
html,body {
    height: 100%;
}
/* end hide */

body {
    padding: 0;
	margin: 0; 
	font: 11px/1.6em "Lucida Grande", LucidaGrande, Lucida, Helvetica, Arial, sans-serif; 
    color: #333;
    text-align: center;
	background: #dfdfdf url(@images_link@bg_texture.jpg);
}

#container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: auto;
}
html>body #container {
    height: auto;
}

#wrapper {
    width: 752px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 0;
}
#body > #wrapper {
    width: 750px;
}

#maincontent {
    float: left;
    min-height: 50%;
    width: 752px;
    padding: 0 0 15px 0;
    margin: 0;
    text-align: left;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}
#wrapper > #maincontent {
    width: 750px;
}
#footer {
    /* only footer positioning goes here */
    float: left;
    clear: both;
}
#postfooter {
    /* only postfooter positioning goes here */
}


/*-------------------------------------------------
HTML ELEMENTS
-------------------------------------------------*/
a {text-decoration: underline; padding: 1px; }
a.external { padding-left: 9px; background: url(@images_link@external.gif) no-repeat; }
a:link { color: #04d; }
a:visited { color: #04d; }
a:hover { color: #fff; background-color: #04d; text-decoration: none; }

img {
  border: none;
}

a.image:link, a.image:visited, a.image:hover {
  background: none;
  padding: 0;
  margin: 0;
}

a.admin:link, a.admin:visited {
  color: #f00;
  font-size: 11px;
  font-weight: normal;
}

a.admin:hover { color: #fff; background: #f00; }

a.black:link, a.black:visited {
  color: #000;
}

a.black:hover {
  color: #fff;
  background: #000;
}

a.white:link, a.white:visited {
  color: #fff;
}

a.white:hover {
  color: #000;
  background: #fff;
}

a.anchor:link, a.anchor:visited, a.anchor:hover {
  color: #fff;
  background: #fff;
  font-size: 0px;
  text-decoration: none;
  padding: 0;
}

form {
  margin: 0; padding: 0;
}

p {
  font-size: 12px;
  line-height: 16px;
}

small {
  font-size: 10px;
  line-height: 13px;
}

ol, ul, li {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}


li {
  font-size: 10px;
}

li img {
  padding-right: 3px;
}

h1 {
  padding: 0;
  border-bottom: 0;
  margin: 0;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

h2 {
  margin: 20px 0 5px 0px;
  color: #000;
  font-size: 14px;
  padding: 0;
}

h3 {
  margin: 20px 0 0 0;
  color: #666;
  font-family: "Lucida Grande", arial, sans-serif;
  font-size: 14px;
  padding: 0;
}

td, th {
  padding: 3px;
}

strike {
  color: #999;
}

code, pre       {
  font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
  background: inherit;
  color: #333;
  font-size: 80%
}

/*  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */
* html code     {
  font-size : 105%; 
}

table tr td{
  padding: 0;
  margin: 0;
  border: 0;
}

/*-------------------------------------------------
GENERAL CLASSES
-------------------------------------------------*/
.show{
  visibility: visible;
  display: visible;
}

.invisible{
  visibility: hidden;
}

.hidden{
  /* still takes up space as an element */
  display: none;
}

.error{
  display: inline;
  color: black;
  background-color: pink;  
}

.left {
  clear: left;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 70%;
  float: left;
}

.right {
  margin: 0;
  padding: 0;
  text-align: left;
  float: left;
  width: 30%;
}

.full {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  clear: both;
}

.red {
  color: #900;
}

.blue {
  color: #06c;
  }
  
.green {
  color: #390;
  }
  
.highlight {
  background-color: #ffc;
}

.new {
  background-color: #cfc;
}

.sentence {
  text-transform: none;
}

.horizmenu a {
    float: left;
    width: 8em;
    text-decoration: none;
    color: #999;
    padding: 0.2em 0.6em;
    border-right: 1px solid #cdcdcd;
    background: #444;
}
.horizmenu a:hover {
    background: #000;
    color: #fff;
}


/*-------------------------------------------------
CSS HACK EXAMPLES
-------------------------------------------------*/

/*/*/
.someclass { /* invisible to NN4 */ }
/* */
/* <style type="text/css" media="all"> also hides from NN4 */


/* --------------- */
body>.someclass {
    /* invisible to IE */
}


/* --------------- */
.someclass {
    width: 15em; 
    voice-family: "\"}\""; voice-family:inherit; 
    /* invisible to IE5 */
    width: 10em;
}


/* --------------- */
.noiemac {display: none}
/* Hide from IE-Mac \*/
.noiemac {display: block}
/* End hide */

