
/* body element, present in all pages */
/*BODY			{ background-color: #FFFFFF;
                  font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
				  					font-size: 10pt;
					color: #000000
}
*/



/*
-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

                                      LINKS

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
*/


/* typical links: */
/*A:Link			{ color: #005680; text-decoration: underline }
A:Visited		{ color: #003366; text-decoration: underline } */
/* A:Visited		{ color: #6699CC; } */
/*A:hover			{ color: #3399FF;} */

/* links in green backgroun header they are currently white, no underline, and background highlights on hover: */
  /*A.headlink         {font-variant: small-caps ; text-decoration:none ; color:#FFFFFF ; font-family: Georgia, Times New Roman, Times, serif; font-size:8pt}
  A:Link.headlink    {font-variant: small-caps ; text-decoration:none ; color:#FFFFFF ; font-family: Georgia, Times New Roman, Times, serif; font-size:8pt} /* same as prev */
 /* A:Visited.headlink {font-variant: small-caps ; text-decoration:none ; color:#FFFFFF ; font-family: Georgia, Times New Roman, Times, serif; font-size:8pt} /* same as prev */
  /* A:hover.headlink   {font-variant: small-caps ; background-color: #FFFFCC ; color: #336633; font-family: Georgia, Times New Roman, Times, serif; font-size:8pt} */
*/

/* style removed by MTL 11/15/04:  A.blk { color:#000000 }
A.brightyellow { color:#FFFF80 }  */


/* yellow colored links... doubtful this exists anywhere */
/* .headerLink,
a.headerLink:link,
a.headerLink:visited,
a.headerLink:hover {
	color: #FFFF80;
	text-decoration: underline;
} */



*/
/* actions user can take from this form: ie interpret plant.*/
td.useraction  {font-weight: bold; color: #FF0000 ; background: #ffffcc }
td.useraction A:Link {color: #FF0000}
td.useraction A:Visited {color: #BB0000 }
td.useraction A:hover {color: #FF9999 }


/* the following were for the new homepage, but images that swapped on rollover were used instead :
.featureLink {
	font-family:  sans-serif;
	color: #3399FF;
	text-decoration: none;
	font-size: 14pt;
}
.featureLink2 {
	font-family:  sans-serif;
	color: #3399FF;
	text-decoration: none;
	font-size: 14pt;
}
a.featureLink:visited,
a.featureLink:link {
	color: #336633;
	text-decoration: none;
}
a.featureLink2:link {
	color: #3399FF;
	text-decoration: none;
}
a.featureLink:hover {
	color: #003366;
	text-decoration: none;
}

*/


/*
-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

                                      TABLE STYLES HERE

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
*/

/* header and footer in filters.properties : */
/*.headerTable {background-color:#336633}
.footerTable {background-color:#eed85b} */
.clearTable {background-color:#FFFFFF} /* same as BODY background */

/*thin lines for your table gets you a grid of thin lines:
___
| |
---
| |
___
*/
table.thinlines {border-style: solid;
                 border-width:1px;
                 border-collapse: collapse;
                 border-color:#333333 }
table.thinlines td {border-style:solid; border-width:1px; border-color:#333333}
table.thinlines th {border-style:solid; border-width:1px; border-color:#333333}
/* left right class for table gets you vertical lines for your tables only (and surrounding thin line) :

| |
| |
| |

rows can be differentiated by different colors, typically in jsps using : <tr class="@nextcolorclass@">

*/


table.leftrightborders {border-style:solid; border-color:#333333; border-collapse:collapse; border-width:1px }
table.leftrightborders td {border-style:solid; border-bottom-width:0px ; border-left-width:1px ; border-right-width:1px ; border-top-width:0px}
table.leftrightborders th {border-style:solid; border-width:1px ; border-color:#333333;}


/* only an outside border around table:
___
| |
| |
| |
--- */

table.outsideborder {border-style: solid;
                 border-width:1px;
                 border-collapse: collapse;
                 border-color:#333333 }

/* no border at all, that's hard to draw here */
table.noborder {border-style: none; border-width:0px ; border-collapse: collapse}
table.noborder th {border-style: none; border-width:0px }
table.noborder td {border-style: none; border-width:0px }

TH	{
	font-family:  Arial, Tahoma, Helvetica, Geneva, sans-serif;
	font-size: 10pt;
	background-color : #e6e6cf;
	}

.major	{
	font-family:  Arial, Tahoma, Helvetica, Geneva, sans-serif;
	font-size: 14pt;
	background-color : #e6e6cf;
	}
.major_smaller	{
	font-family:  Arial, Tahoma, Helvetica, Geneva, sans-serif;
	font-size: 12pt;
	background-color : #e6e6cf;
	}

td.numeric
   {
      	text-align: right;
   }

/*
-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

                                      HEADER STYLES HERE

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
*/



/*H1, H2 {
							font-family: Georgia, Times New Roman, Times, serif;
							color: #333333;
							text-align: center;
						}

H3, H4, H5, H6	{
							font-family: Georgia, Times New Roman, Times, serif;
							color: #333333;
							text-align: left;
						} */
/* allow to manually style left and right */
/*H1.left, H2.left, H3.left, H4.left, H5.left, H6.left { 					font-family: Georgia, Times New Roman, Times, serif;
							color: #333333;
                        	 text-align: left; }

H1.center, H2.center, H3.center, H4.center, H5.center, H6.center { 					font-family: Georgia, Times New Roman, Times, serif;
							color: #333333;
                        	 text-align: center; }
*/
/* text that is equivalent to headers in color and font.  used in main menu and anywhere where headers can't be block level.
should be combined with a size style as space delimited, ie class="headequiv sizelarge"
*/
/*.headequiv	{
							font-family: Georgia, Times New Roman, Times, serif;
							color: #333333;
							font-weight: bold;
						}
*/

/*
-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

                                      normal text STYLES HERE

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
*/



/*P, .normal, TD, UL, OL, DL, LI	{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: 10pt;
					color: #000000
				}
*/
ul.compact   {
	             list-style-type:none;  padding-left: 10px; margin-left: 10px;
             }


.psmall	        {
				    font-size: 8pt;

				}



/* standard sizes for normal text */
.sizetiny   { font-size: 8pt }
.sizesmall  { font-size: 10pt }
.sizenormal { font-size: 12pt } /* note that normal is currently a bit larger than regular <p> */
.sizelarge  { font-size: 14pt }
.sizelarger { font-size: 18pt }
.sizehuge   { font-size: 24pt }

/*
THESE are all just normal styles.  The sizes have been changed to size[thesize]
.vegbank		{ font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif; color : #531100; }
.vegbank_tiny	{ font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif; color : #531100; font-size: 8pt}
.vegbank_small	{ font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif; color : #531100; font-size: 10pt}
.vegbank_normal	{ font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif; color : #531100; font-size: 12pt}
.vegbank_large	{ font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif; color : #531100; font-size: 14pt}
.sansserif		{ font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif ; color : #531100}
*/


/*   SIZES OF TEXT */

/* the following 3 are used in views */
.datalabel { font-size: 10pt ; font-weight: bold;} /* data label in autogenerated and other views */
.datalabelsmall {font-size:8pt ; font-style:italic; } /* smaller data label that can make views more compressed */
.largefield  { font-size: 8pt } /* for DATA fields that are larger, thus font is smaller so they are more compressed */
/* instructions on forms */
.instructions {
								font-size: 9pt;
	                            font-style: italic ;

		  }
/* units on forms, etc. all m, ft, degrees, etc. */

  .units {color: #333333 ; font-size: 8pt;}



/*  WEIGHTS of text */

/* bolder */
.category		{
					color: #000000;
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: 1em;
					font-weight: bold;
				}

/* std item, but smaller than higher element - can recurse to quite small */
.item			{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .83em;
					font-weight: normal;
				}

.itemlabel		{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .83em;
					font-weight: normal;
					color: #3366FF;
				}
/* smaller than item */
.itemsmall		{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .67em;
					font-weight: normal;
				}

/* yet smaller */
.itemsmaller	{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .67em;
					font-weight: normal;
					color: #666666;
				}


.description {
	color: #000000;
	font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	background-color: #DDDDDD;
}

.on_page_help	{
		font-family: Helvetica,Arial,Verdana, sans-serif;
		font-size: 13pt;
		color: #23238E;
		background-color : #DFE5FA;
}

.on_page_help_text {
	color: #000000;
	font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
	font-size: 10pt;
	font-weight: normal;
}

.label_small	{
		font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
		font-size: 11pt;
		color: #000000
	}


/* VegBranch field/table names styles */

  strong.vbrtbl {color: #336633 }
  strong.vbrfld {color: #666666 ; font-style:italic}


/*
-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

                                      background shading STYLES HERE

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
*/


/* standard alternating colors on tables: */
.oddrow { background-color : #FFFFFF }
.evenrow {background-color : #DDDDDD }
.highlight {background-color : #FF9933 }

/* groups of rows, in roughly ascening, coordinated colors : */
.group1 {background-color: #FFFEBF }
.group2 {background-color: #FFFD80 }
.group3 {background-color: #BFBE60 }
.group4 {background-color: #FFD9BF }
.group5 {background-color: #FFB380 }
.group6 {background-color: #BF8660 }
.group7 {background-color: #BFFFBF }
.group8 {background-color: #80FF80 }
.group9 {background-color: #60BF60 }
.group10 {background-color: #BFE8FF }
.group11 {background-color: #80D0FF }
.group12 {background-color: #609CBF }



/* used in forms/DisplayResults.jsp
forms/TaxonInterpretationAnnotateData.jsp
white text with links that work with it:
*/
.whitetext 		{ font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
				color: #FFFFFF;
			 	font-size: 8pt}
.whitetext a:link     { color: #FFFFFF; text-decoration: none}
.whitetext a:visited  { color: #FFFFFF; text-decoration: none}
.whitetext a:hover	  { color: #3399FF; text-decoration: none}

a.whitetext:link	{ color: #FFFFFF; text-decoration: none}
a.whitetext:visited	{ color: #FFFFFF; text-decoration: none}
a.whitetext:hover	{ color: #3399FF; text-decoration: none}

/* main menu, metasearch, index.jsp :*/
.greytext 		{ font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
				color: #666666;
			 	font-size: 8pt}


/* some less frequently used table styles.  More common is evenrow and oddrow: */
th.grey, td.grey, tr.grey {background-color : #DDDDDD; }
.listRowA {background-color : #FFFFCC; }
.listRowB {background-color : #FFFFFF }
.listRowA-Hi {background-color : #FF9933 }
.listRowB-Hi {background-color : #FF9933 }
th.listRowA {background-color : #CCCCCC }
th.listRowB {background-color : #EEEEEE }


/*
forms/TaxonInterpretationAnnotateData.jsp
forms/TaxonObservationAnnotateData.jsp
*/

.listhead {
	color: #000000;
	font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	background-color: #DDDDDD;
}

.bright { color: red }

.error { font-weight: bold; color: red;}
/*
-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

                 ORIGINAL STYLES-- unknown if they are still needed  STYLES HERE

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
*/


.external		{
					cursor: n-resize;
				}

.header			{
					font-style: italic;
					text-align: center;
				}

.image			{
					text-align: center;
				}

.caption		{
					text-align: center;
					font-size: .75em;
					font-style: italic;
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
				}


.thsmall		{
					font-size: 1em;
					font-weight: bold;
				}



.intro			{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: 1em;
					font-weight: bold;
				}




.byline			{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .67em;
					font-weight: normal;
					text-align: right;
				}

.dateline			{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .67em;
					font-weight: normal;
					text-align: right;
				}


.review			{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .83em;
				}

.navigation		{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .83em;
					text-align: left;
				}

.copyright		{
					font-size: .67em;
					text-align: center;
					width: 100%;
				}

.invisible		{
					visibility: hidden;
				}


.tblHeader		{
					font-family: Georgia, Times New Roman, Times, serif;
					font-size: 1em;
					font-weight: bold;
				}

.newsDate		{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .83em;
					font-weight: bold;
					text-align: left;
					color: blue;
				}
.sidebar	{
				border-style: solid none;
				margin-right: 15%;
				margin-left: 15%;
				padding-top: 1em;
				padding-bottom: 1em;
				padding-right: 1.5em;
				padding-left: 1.5em;
			}


.sidebarTitle	{
					font-size: 1.17em;
					font-family: georgia, times new roman, times, serif;
					font-weight: bold;
					text-align: center;
				}

.videoTitle		{
					margin-right: 15%;
					margin-left: 15%;
					padding-top: 1em;
					padding-bottom: 1em;
					padding-right: 1.5em;
					padding-left: 1.5em;
				}



CODE	{
			color: red;
		}

VAR		{
			color: green;
		}

.whitegallery	{	font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif; font-size: 10px; text-align: center; color: black;}
TABLE.filetable TD {border-bottom:solid #93BEE2 1px}

.iform { color: #000000; font-family: Arial, sans-serif; background: #cccc99; font-weight: normal; font-size: 11px; }
.irform { color: #000000; background: #cccc99; font-weight: normal; font-size: 8pt; }



.verticaltext { layout-flow: vertical-ideographic }

/* Generic Display styles */
.gdEntityName { color: #FFFF80; }
.gdRowLabel { color: Bisque; }
.gdAttName { background-color : #686868; color: LightSalmon; }


