/* FROM old basic.css:
 * body
 * --container
 * -- --wrapper
 * -- -- --maincontent
 * -- -- --footer
 * -- --postfooter
 */



/*-------------------------------------------------
GENERAL CLASSES
-------------------------------------------------*/
.show{
  visibility: visible;
  display: visible;
}

.donotshow{
  /* still takes up space as an element, this is useful b/c a bean can write "donot" just before the class of show to hide something. */
  display: none;
}


.invisible{
  visibility: hidden;
}

.hidden{
  /* still takes up space as an element */
  display: none;
}

.error, .errNumber, .errDate {
  display: inline;
  color: black;
  background-color: pink;
}

.message {
  text-align: center;
  background-color: #FFFFCC;
  border-style: solid;
  border-width: 1px;
  border-color: #CCCCCC;
  padding: 4px;
  margin: 4px;
}

.left {
  clear: left;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 70%;
  float: left;
}

.right {
  margin: 0;
  padding: 0;
  text-align: left;
  float: left;
  width: 30%;
}

.full {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  clear: both;
}

.padded {
	/* used for giving a little extra space around elements, sometimes needed in tutorial highlighting */
	padding: 2px;
}

.red {
  color: #900;
}

.blue {
  color: #06c;
  }

.green {
  color: #390;
  }

.new {
  background-color: #cfc;
}

.sentence {
  text-transform: none;
}

.horizmenu a {
    float: left;
    width: 8em;
    text-decoration: none;
    color: #999;
    padding: 0.2em 0.6em;
    border-right: 1px solid #cdcdcd;
    background: #444;
}
.horizmenu a:hover {
    background: #000;
    color: #fff;
}


/*-------------------------------------------------
CSS HACK EXAMPLES
-------------------------------------------------*/

/*/*/
.someclass { /* invisible to NN4 */ }
/* */
/* <style type="text/css" media="all"> also hides from NN4 */


/* --------------- */
body>.someclass {
    /* invisible to IE */
}


/* --------------- */
.someclass {
    width: 15em;
    voice-family: "\"}\""; voice-family:inherit;
    /* invisible to IE5 */
    width: 10em;
}


/* --------------- */
.noiemac {display: none}
/* Hide from IE-Mac \*/
.noiemac {display: block}
/* End hide */




/* body element, present in all pages */
/*BODY			{ background-color: #FFFFFF;
                  font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
				  					font-size: 10pt;
					color: #000000
}
*/



/*
-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

                                      LINKS

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
*/

a {text-decoration: underline; padding: 1px; }

a:link { color: #04d; }
a:visited { color: #660099; }
a:hover { color: #fff; background-color: #04d; text-decoration: none; }



a:Link.sortlink { color: #336600; text-decoration: underline ; }
a:Visited.sortlink { color: #336600; text-decoration: underline ; }
a:hover.sortlink { color: #fff; background-color: #336600; text-decoration: none; }

a:Link.tut_link { color: #336600; text-decoration: underline ; }
a:Visited.tut_link { color: #666633; text-decoration: underline ; }
a:hover.tut_link { color: #fff; background-color: #336600; text-decoration: none; }

a.image:link, a.image:visited, a.image:hover {
  background: none;
  padding: 0;
  margin: 0;
}

a.admin:link, a.admin:visited {
  color: #f00;
  font-size: 11px;
  font-weight: normal;
}

a.admin:hover { color: #fff; background: #f00; }

a.black:link, a.black:visited {
  color: #000;
}

a.black:hover {
  color: #fff;
  background: #000;
}

a.white:link, a.white:visited {
  color: #fff;
}

a.white:hover {
  color: #000;
  background: #fff;
}

a.anchor:link, a.anchor:visited, a.anchor:hover {
  color: #fff;
  background: #fff;
  font-size: 0;
  text-decoration: none;
  padding: 0;
}

/* used in forms/TaxonInterpretationAnnotateData.jsp
white text with links that work with it:
*/
.whitetext 		{ font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
				color: #FFFFFF;
			 	font-size: 8pt}
.whitetext a:link     { color: #FFFFFF; text-decoration: none}
.whitetext a:visited  { color: #FFFFFF; text-decoration: none}
.whitetext a:hover	  { color: #3399FF; text-decoration: none}

a.whitetext:link	{ color: #FFFFFF; text-decoration: none}
a.whitetext:visited	{ color: #FFFFFF; text-decoration: none}
a.whitetext:hover	{ color: #3399FF; text-decoration: none}

.notstrong { color: #666666; font-size: 8pt;  font-variant: small-caps }
.notstrong a { color: #666666;}
.notstrong a:link { color: #666666;}
.notstrong a:visited { color: #666666;}
.notstrong a:hover { color: #FFFFFF;}


/*
-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

                                      TABLE STYLES HERE

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
*/

/* default table */
/* this causes too many problems! : table tr td {
  padding: 0;
  margin: 0;
  border: 0;

} */

/* actions user can take from this form: ie interpret plant.*/
td.useraction  {font-weight: bold; color: #FF0000 ; background: #ffffcc }
td.useraction A:Link {color: #FF0000}
td.useraction A:Visited {color: #BB0000 }
td.useraction A:hover {color: #FF9999 }


.clearTable {background-color:#FFFFFF} /* same as BODY background */

/*thin lines for your table gets you a grid of thin lines:
___
| |
---
| |
___
*/
table.thinlines {border-style: solid;
                 border-width:1px;
                 border-collapse: collapse;
                 border-color:#333333 }
table.thinlines td {border-style:solid;
  border-width:1px;
  border-color:#333333;
  padding: 2px;
  }
table.thinlines th {border-style:solid;
  border-width:1px;
  border-color:#333333;
  padding: 2px;
  }

div.thinlines {border-style: solid;
                 border-width:1px;
                 padding: 5px ;
                 margin: 2px ;
                 border-color:#333333 }


/* left right class for table gets you vertical lines for your tables only (and surrounding thin line) :

| |
| |
| |

rows can be differentiated by different colors, typically in jsps using : <tr class="@ nextcolorclass@">

*/


table.leftrightborders {border-style:solid; border-color:#333333; border-collapse:collapse; border-width:1px }
table.leftrightborders td {border-style:solid;
  border-bottom-width:0px ;
  border-left-width:1px ;
  border-right-width:1px ;
  border-top-width:0px ;
  padding: 2px;
  }
table.leftrightborders th {border-style:solid;
  border-width:1px ;
  border-color:#333333;
  padding: 2px;
  }

table.horizborders {border-style:solid; border-color:#333333; border-collapse:collapse;
  border-bottom-width:0px ;
  border-left-width:0px ;
  border-right-width:0px ;
  border-top-width:0px ;
  margin-bottom:-3px;
  }


table.horizborders td,
  td.horizborders,
  table.horizborders th,
  th.horizborders
  {
	background-image: url(@images_link@greydot.png);
	background-position:  bottom left;
	background-repeat:  repeat-x ;
	border-style:solid;
    border-bottom-width:0px ;
    border-left-width:0px ;
    border-right-width:0px ;
    border-top-width:0px ;
    padding: 2px;
    text-align: center;
  }

/* only an outside border around table:
___
| |
| |
| |
--- */

table.outsideborder {border-style: solid;
                 border-width:1px;
                 border-collapse: collapse;
                 border-color:#333333 }

/* no border at all, that's hard to draw here */
table.noborder {border-style: none; border-width:0px ; border-collapse: collapse}
table.noborder th {border-style: none; border-width:0px }
table.noborder td {border-style: none; border-width:0px }

TH, TH.normal	{
	font-family:  Arial, Tahoma, Helvetica, Geneva, sans-serif;
	font-size: 10pt;
	background-color : #e6e6cf;
	}
/* this is a row that defines what this row is */
.rowDefn {
    background-color : #e6e6cf;
    font-size: 8pt;
    color : #333333;
    }

.sorted {
	background-color : #a9a95a;
    }

.sorteddesc {
	background-color : #a9a95a;
    }

td.graphic_stemsize { background-color : #FFFFFF; }

/* SEE ALSO .sortarrow style  and A:link.sortlink  */




.major	{
	font-family:  Arial, Tahoma, Helvetica, Geneva, sans-serif;
	font-size: 14pt;
	background-color : #e6e6cf;
	text-align:center;
	}
.major_smaller	{
	font-family:  Arial, Tahoma, Helvetica, Geneva, sans-serif;
	font-size: 12pt;
	background-color : #e6e6cf;
	text-align:center;
	}

td.numeric
   {
      	text-align: right;
   }

/*
-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

                                      HEADER STYLES HERE

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
*/

h1 {
  padding: 0;
  border-bottom: 0;
  margin: 0;
  font-family: "Lucida Grande", arial, sans-serif;
  color: #333;
  font-size: 14pt;
  font-weight: bold;
}

h2 {
  margin: 20px 0 5px 0px;
  color: #000;
  font-family: "Lucida Grande", arial, sans-serif;
  font-size: 13pt;
  padding: 0;
}

h3 {
  margin: 20px 0 0 0;
  color: #666;
  font-family: "Lucida Grande", arial, sans-serif;
  font-size: 13pt;
  padding: 0;
}

h4 {
  margin: 20px 0 0 0;
  color: #666;
  font-family: "Lucida Grande", arial, sans-serif;
  font-size: 12pt;
  padding: 0;
}




/*
-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

                                      normal text STYLES HERE

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
*/



.normal {
  font-size: 10pt;
  /*line-height: 1.35em;*/
}

small, .small {
  font-size: 9pt;
  line-height: 1.1em;
}


ol.noindent, ul.noindent, li.noindent {
  margin: 0;
  padding: 0;
}

ul.noindent li {
  list-style-type: none;
}


li.small {
  font-size: 9pt;
}


ul.compact   {
	             list-style-type:none;  padding-left: 10px; margin-left: 10px;
             }

ul.compactdots   {
	               padding-left: 10px; margin-left: 10px;
             }

.psmall	        {
				    font-size: 9pt;

				}


.center {
    text-align: center;
}

/* standard sizes for normal text */
.sizetiny   { font-size: 8pt }
.sizesmall  { font-size: 9pt }
.sizenormal { font-size: 10pt }
.sizelarge  { font-size: 12pt }
.sizelarger { font-size: 14pt }
.sizehuge   { font-size: 18pt }

.sortarrow { font-size: 14pt }



/* the following 3 are used in views */
.datalabel { font-size: 10pt ; font-weight: bold;} /* data label in autogenerated and other views */
.datalabelsmall {font-size:8pt ; font-style:italic; } /* smaller data label that can make views more compressed */
.smallfield {font-size: 8pt ;} /* this is just something small and can have white space ignored */
.largefield  {  font-size: 8pt ; /* for DATA fields that are larger, thus font is smaller so they are more compressed */
		/* if there are breaks in text, keep them, but still wrap: */
		white-space: pre; /* CSS2 */
		white-space: -moz-pre-wrap; /* Mozilla */
		white-space: -hp-pre-wrap; /* HP printers */
		white-space: -o-pre-wrap; /* Opera 7 */
		white-space: -pre-wrap; /* Opera 4-6 */
		white-space: pre-wrap; /* CSS 2.1 */
		white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
		word-wrap: break-word; /* IE */
		/* Thanks to http://cheeaun.phoenity.com/weblog/2005/06/whitespace-and-generated-content.html */
}


/* instructions on forms */
.instructions {
								font-size: 8pt;
	                            font-style: italic ;

		  }
/* units on forms, etc. all m, ft, degrees, etc. */

  .units {color: #333333 ; font-size: 8pt;}



/*  WEIGHTS of text */

/* bolder */
.category		{
					color: #000000;
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: 1em;
					font-weight: bold;
				}

/* std item, but smaller than higher element - can recurse to quite small */
.item			{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .83em;
					font-weight: normal;
				}

.itemlabel		{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .83em;
					font-weight: normal;
					color: #3366FF;
				}
/* smaller than item */
.itemsmall		{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .67em;
					font-weight: normal;
				}

/* yet smaller */
.itemsmaller	{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .67em;
					font-weight: normal;
					color: #666666;
				}

.control_tab    {
    font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: #666;
    padding: 0 5px 0 5px;
    text-decoration: none;
    border-style: solid;
    border-width:1px;
    border-color:#333;
}

.control_tab a:link { color: #0e0; text-decoration: none}
.control_tab a:visited { color: #0e0; text-decoration: none}
.control_tab a:hover { color: #fff; background-color: #0e0; text-decoration: none}

.control_tab_link { color: #0e0; text-decoration: none}
.control_tab_link a { color: #0e0; text-decoration: none}
.control_tab_link a:link { color: #0e0; text-decoration: none}
.control_tab_link a:visited { color: #0e0; text-decoration: none}
.control_tab_link a:hover { color: #fff; background-color: #0e0; text-decoration: none}

.block {
    display: block;
    clear: both;
}

.description {
	color: #000000;
	font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	background-color: #DDDDDD;
}

.special_note {
    font-size: 8pt;
    font-style: italic;
    color: #555;
}

.on_page_help	{
		font-family: Helvetica,Arial,Verdana, sans-serif;
		font-size: 13pt;
		color: #23238E;
		background-color : #DFE5FA;
}

.on_page_help_text {
	color: #000000;
	font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
	font-size: 10pt;
	font-weight: normal;
}

.label_small	{
		font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
		font-size: 9pt;
		color: #000000
	}


strike {
  color: #999;
}

code, pre       {
  font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
  background: inherit;
  color: #333;
 /* font-size: 80% */
}

/*  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */
* html code     {
  font-size : 105%;
}



img {
  border: none;
}


form {
  margin: 0; padding: 0;
}


/* VegBranch field/table names styles */

  strong.vbrtbl {color: #336633 }
  strong.vbrfld {color: #666666 ; font-style:italic}


/*
-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

                                      background shading STYLES HERE

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
*/


/* standard alternating colors on tables: */
.oddrow { background-color : #FFFFFF }
.evenrow {background-color : #DDDDDD }
.deleted {background-color : #666666 ; color: #DDDDDD ; font-size:7pt}
.highlight {background-color : #FF9933 }
.tut_highlight {background-color : #FF9933 }
tr.tut_highlight th, tr.tut_highlight td, td.tut_highlight, th.tuthighlight {
	 background-color : #FF9933;
 }

.mouseover_bright {background-color : #acf }
.mouseover_dark {background-color : #d72 }
/*
.mouseover_bright {background-color : #ff9 }
.mouseover_dark {background-color : #c63 }
*/

/* groups of rows, in roughly ascening, coordinated colors : */
.group1 {background-color: #FFFEBF }
.group2 {background-color: #FFFD80 }
.group3 {background-color: #BFBE60 }
.group4 {background-color: #FFD9BF }
.group5 {background-color: #FFB380 }
.group6 {background-color: #BF8660 }
.group7 {background-color: #BFFFBF }
.group8 {background-color: #80FF80 }
.group9 {background-color: #60BF60 }
.group10 {background-color: #BFE8FF }
.group11 {background-color: #80D0FF }
.group12 {background-color: #609CBF }





/* main menu, metasearch, index.jsp :*/
.greytext 		{ font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
				color: #666666;
			 	font-size: 8pt}


/* some less frequently used table styles.  More common is evenrow and oddrow: */
th.grey, td.grey, tr.grey, .grey {background-color : #DDDDDD; }
.listRowA {background-color : #FFFFCC; }
.listRowB {background-color : #FFFFFF }
.listRowA-Hi {background-color : #FF9933 }
.listRowB-Hi {background-color : #FF9933 }
th.listRowA {background-color : #CCCCCC }
th.listRowB {background-color : #EEEEEE }

/* filtering forms */
 tr.filter td, tr.filter th, th.filter, td.filter { background-color: #FFFFCC ; border-color: #333333; border-width:1px;}


/*
forms/TaxonInterpretationAnnotateData.jsp
*/

.listhead {
	color: #000000;
	font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	background-color: #DDDDDD;
}

.listhead2 {
	color: #000000;
	font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	background-color: #CAAFB1;
}

.rowdivider {
	color: #fff;
	background-color: #444;
    width: 8px;
}

.bright { color: red }

.error { font-weight: bold; }

/* Data Dictionary styles */

tr.requiredfield > td.dba_fielddescription_fieldlabel {font-weight: bold}
tr.requiredfield > td.dba_fielddescription_fieldname {font-weight: bold}

/*
-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

                 ORIGINAL STYLES-- unknown if they are still needed  STYLES HERE

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
*/


.external		{
					cursor: n-resize;
				}

.header			{
					font-style: italic;
					text-align: center;
				}

.image			{
					text-align: center;
				}

.caption		{
					text-align: center;
					font-size: .75em;
					font-style: italic;
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
				}


.thsmall		{
					font-size: 1em;
					font-weight: bold;
				}



.intro			{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: 1em;
					font-weight: bold;
				}




.byline			{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .67em;
					font-weight: normal;
					text-align: right;
				}

.dateline			{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .67em;
					font-weight: normal;
					text-align: right;
				}


.review			{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .83em;
				}

.navigation		{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .83em;
					text-align: left;
				}

.copyright		{
					font-size: .67em;
					text-align: center;
					width: 100%;
				}

.invisible		{
					visibility: hidden;
				}


.tblHeader		{
					font-family: Georgia, Times New Roman, Times, serif;
					font-size: 1em;
					font-weight: bold;
				}

.newsDate		{
					font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
					font-size: .83em;
					font-weight: bold;
					text-align: left;
					color: blue;
				}
.sidebar	{
				border-style: solid none;
				margin-right: 15%;
				margin-left: 15%;
				padding-top: 1em;
				padding-bottom: 1em;
				padding-right: 1.5em;
				padding-left: 1.5em;
			}


.sidebarTitle	{
					font-size: 1.17em;
					font-family: georgia, times new roman, times, serif;
					font-weight: bold;
					text-align: center;
				}

.videoTitle		{
					margin-right: 15%;
					margin-left: 15%;
					padding-top: 1em;
					padding-bottom: 1em;
					padding-right: 1.5em;
					padding-left: 1.5em;
				}





VAR		{
			color: green;
		}

.whitegallery	{	font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif; font-size: 10px; text-align: center; color: black;}
TABLE.filetable TD {border-bottom:solid #93BEE2 1px}

.iform { color: #000000; font-family: Arial, sans-serif; background: #cccc99; font-weight: normal; font-size: 11px; }
.irform { color: #000000; background: #cccc99; font-weight: normal; font-size: 8pt; }


/* this is complained about and isn't in CVS, so commenting out:
    .verticaltext { layout-flow: vertical-ideographic } */

/* Generic Display styles */
.gdEntityName { color: #FFFF80; }
.gdRowLabel { color: Bisque; }
.gdAttName { background-color : #686868; color: LightSalmon; }


