BODY			{
					background-color: #FFFFFF;
				}

A:Link			{
					color: #005680;
				}
A:Visited		{
					color: #6699CC;
				}
A.blk { color:#000000 }
A.brightyellow { color:#FFFF80 }

TH	{
	font-family:  Arial, Helvetica, sans-serif;
	color: #ffff80;
	font-size: 10pt;
	}

H1, H2, H3, H4, H5, H6	{
							font-family: Georgia, Times New Roman, Times, serif;
							color: #333333;
						}
th.grey, td.grey, tr.grey {background-color : #DDDDDD}						
.listRowA {background-color : #FFFFCC }						
.listRowB {background-color : #FFFFFF }						
.listRowA-Hi {background-color : #FF9933 }						
.listRowB-Hi {background-color : #FF9933 }						

.whitetext 		{ font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; color : #FFFFFF; font-size: 8pt}

A.whitetext:link	{ color : #FFFFFF; text-decoration: none}
A.whitetext:hover	{ color : #3399FF; text-decoration: none}
A.whitetext:visited	{ color : #FFFFFF; text-decoration: none}

.vegbank 		{ font-family: Georgia, Times New Roman, Times, serif; color : #531100}
.sansserif          { font-family: Verdana, Arial, Helvetica, sans-serif ; color : #531100}

UL.constsize,LI.constsize {  font: 10pt Verdana, Arial, Helvetica, Geneva, sans-serif;
			     
				}						

.external		{
					cursor: n-resize; 
				}

.header			{
					font-style: italic;
					text-align: center;
				}

.image			{
					text-align: center;
				}

.caption		{
					text-align: center;
					font-size: .75em;
					font-style: italic;
					font-family: Verdana, Arial, Helvetica, sans-serif;
				}
				
P, .normal		{
					font-family: Verdana, Arial, Helvetica, sans-serif;
					font-size: .83em;
					color: #000000
				}

UL, OL, DL, LI, .list	{	
							font: .9em/1.5em Verdana, Arial, Helvetica, Geneva, sans-serif;
						}

.category		{
					font-family: Verdana, Arial, Helvetica, sans-serif;
					font-size: 1em;
					font-weight: bold;
				}

.intro			{
					font-family: Verdana, Arial, Helvetica, sans-serif;
					font-size: 1em;
					font-weight: bold;
				}
.item			{
					font-family: Verdana, Arial, Helvetica, sans-serif;
					font-size: .83em;
					font-weight: normal;
				}

.itemsmall		{
					font-family: Verdana, Arial, Helvetica, sans-serif;
					font-size: .67em;
					font-weight: normal;
				}

.itemsmaller	{
					font-family: Verdana, Arial, Helvetica, sans-serif;
					font-size: .67em;
					font-weight: normal;
					color: #666666;
				}

.byline			{
					font-family: Verdana, Arial, Helvetica, sans-serif;
					font-size: .67em;
					font-weight: normal;
					text-align: right;
				}

.dateline			{
					font-family: Verdana, Arial, Helvetica, sans-serif;
					font-size: .67em;
					font-weight: normal;
					text-align: right;
				}
				
				
.review			{
					font-family: Verdana, Arial, Helvetica, sans-serif;
					font-size: .83em;
				}

.navigation		{
					font-family: Verdana, Arial, Helvetica, sans-serif;
					font-size: .83em;
					text-align: left;
				}	

.copyright		{
					font-size: .67em;
					text-align: center;
					width: 100%;
				}

.invisible		{
					visibility: hidden;
				}


.tblHeader		{
					font-family: Georgia, Times New Roman, Times, serif;
					font-size: 1em;
					font-weight: bold;
				}

.newsDate		{
					font-family: Verdana, Arial, Helvetica, sans-serif;
					font-size: .83em;
					font-weight: bold;
					text-align: left;
					color: blue;
				}
.sidebar	{
				border-style: solid none;
				margin-right: 15%;
				margin-left: 15%;
				padding-top: 1em;
				padding-bottom: 1em;
				padding-right: 1.5em;
				padding-left: 1.5em;
			}
		

.sidebarTitle	{
					font-size: 1.17em;
					font-family: georgia, times new roman, times, serif;
					font-weight: bold;
					text-align: center;
				}
				
.videoTitle		{
					margin-right: 15%;
					margin-left: 15%;
					padding-top: 1em;
					padding-bottom: 1em;
					padding-right: 1.5em;
					padding-left: 1.5em;
				}

CODE	{
			color: red;
		}

VAR		{
			color: green;
		}

.whitegallery	{	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; text-align: center; color: black;}
TABLE.filetable TD {border-bottom:solid #93BEE2 1px}

.iform { color: #000000; font-family: Arial; background: #cccc99; font-weight: normal; font-size: 11px; }
.irform { color: #000000; background: #cccc99; font-weight: normal; font-size: 8pt; }

.error { font-weight: bold; color: red;}


