
#wrapper {
    width: 95%;
    min-width: 752px; /* not smaller than normal size */
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 0;
}
#body > #wrapper {
    width: 95%;
}

#maincontent {
    float: left;
    min-height: 50%;
    width: 100%;
    padding: 0 0 15px 0;
    margin: 0;
    text-align: left;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}
#wrapper > #maincontent {
    width: 100%;
}

#ceiling {
	padding: 0;
    border-top: 1px solid #ccc;
    height: 63px;
    width: 100%;
    /*
    border-bottom: 1px solid #999;
     */
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}
#wrapper > #ceiling {
    width: 100%;
}

#header {
    position: relative;
    /*
    left: 68px;
    */
    width: 650px;
    height: 74px;
    padding: 0;
    margin: -8px 0 0 68px;
    text-align: left;
    background: url(/vegbank/images/header_bg650.gif) top left no-repeat;
    font-size: 15px;
    vertical-align: text-top;
    color: #808059;
    font-weight: bold;
    /*
    background-color: #fff;
    background-color: #cccc8f;
    background-color: #808059;
    border: 3px solid #E6E6CF;
    border-width: 1px 1px 2px 1px;
    border-color: #E6E6CF #CCCC8F #CCCC8F #E6E6CF;
    */
}

#footer {
    width: 100%;
    border: 1px solid #999;
    background-color: #E6E6CF;
    padding: 0;
    margin: 0;
    font-size: 10px;
    text-align: left;
    line-height: 2.5em;
}
#wrapper > #footer {
    /* beginning to despise IE */
    width: 100%;
}