/*
 * $Id: vegbank2005.css,v 1.19 2006-09-05 21:09:58 mlee Exp $
 *
 * Defines default values for html elements and
 * sets up a centered content area with this structure:
 * body
 * --container
 * -- --wrapper (ceiling > logo, permanav)
 * -- -- --maincontent (header, centercontent)
 * -- -- --footer
 * -- --postfooter
 */

/*-------------------------------------------------
MAINCONTENT
-------------------------------------------------*/

/* hide this part from IE-mac \*/
html,body {
    height: 100%;
}
/* end hide */


body {
    padding: 0;
	margin: 0;
	font: 10pt "Lucida Grande", LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
    color: #333;
    /*  text-align: center; we don't need this.*/
	background: #dfdfdf url(@images_link@bg_texture.jpg);
}

#container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: auto;
}
html>body #container {
    height: auto;
}

#footer {
    /* only footer positioning goes here */
    float: left;
    clear: both;
}
#postfooter {

    /* only postfooter positioning goes here */
}



#maincontent {
    background-color: #fff;
    width: 100%;
}

/* this is for the smaller pages, like popup help */
#maincontent_small {

    float: left;
    background-color: #fff;
    border: 1px solid #999;
    
    width: 95%;
    text-align: left;
    padding: 0px;
    margin: 4px;
}

#maincontent fieldset img {
    float: left;
    display: block;
}
#centercontent {
    /*
    margin-top: -48px;
    */
    margin-top: 0px;
    padding: 0 18px 0 18px;
    text-align: left;
    overflow: visible;
}

#maincontent > #centercontent {
    padding: 0 18px 0 18px;
}
#wrapper {
    /*
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    */
}
body>#wrapper {
    /* IE-free zone */
}

#content-3col-a ul,
#content-3col-b ul,
#content-3col-c ul {
  margin: 0;
  padding-left: 22px;
}

#content-3col-a ul li,
#content-3col-b ul li,
#content-3col-c ul li {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

#content-3col-a {
    font-size: 12px;
    width: 220px;
    clear: left;
    float: left;
}
#content-3col-b {
    font-size: 12px;
    width: 220px;
    float: left;
    margin-left: 27px;
}
#content-3col-c {
    font-size: 12px;
    width: 220px;
    clear: right;
    float: right;
    margin-left: 12px;
}

#content-3col-a fieldset,
#content-3col-b fieldset,
#content-3col-c fieldset {
    border: 3px double rgb(16,125,16);
    border-color: #bcbcbc;
    width: 15em;
    padding: 5px 2px 5px 5px;
    width: 210px;
    display: block;
}

#content-3col-a legend,
#content-3col-b legend,
#content-3col-c legend {
    font-family: serif;
    line-height: 1.4em;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
	color: #2b2b27;
    /*border: 2px solid #bcbcbc;*/
    border: 1px solid #a6c4a6;
    background-color: #cfe2c9;
			/* background-color: #E6E6CF; */
    padding: 1px 10px;
}

#home-img {
  clear: both;
  float: left;
  margin: 10px 0 0 1px;
  border: solid #666 1px;
  border-bottom: solid #aaa 1px;
}
fieldset > #home-img {
  margin-left: 3px;
}

#content-3col-a table {
  margin: 1px 0 2px 2px;
  width: 201px;
  clear: left;
  /* border-width: 0; */
  z-index: 9;
}
#centercontent > #content-3col-a table {
  margin-left: 4px;
  width: 200px;
}
#content-3col-a table td {
    padding: 2px;
    text-align: center;
}





/*-------------------------------------------------
CEILING
-------------------------------------------------*/


#logo {
    float: left;
}
#logo img {
    border: none;
    overflow: visible;
}
#logo-word {
    margin: 11px 0 0 80px;
}
#logo-icon {
    position: absolute;
    top: 0px;
    margin-left: 15px;
    z-index: 10;
}

#permanav {
    position: relative;
    top: 0px;
    float: right;
    right: 60px;
    padding: 0;
	text-align: right;
	font-size: 11px;
    font-weight: normal;
    color: #666;
    line-height: 1.4em;
}

#ceiling>#permanav {
    /* IE-free zone */
}

#permanav img {
	vertical-align: text-top;
}

#permanav a {
    text-decoration: none;
}

/* #permanav a.carticon:hover { */
a.nobg:hover {
	background: none;
}

/*-------------------------------------------------
HEADER
-------------------------------------------------*/

#header-left {
    float: left;
    height: 59px;
    padding: 7px 0px 0px 8px ;
}
#header>#header-left {
    /* reset font to normal in all but IE */
    font-weight: normal;
}

/* ======================
#header-data-links {
    position: relative;
    top: 12px;
    left: 217px;
    font-size: 11px;
    font-weight: normal;
    color: #000;
    width: 190px;
}
#header-left>#header-data-links {
    left: 220px;
}
========================= */
#header-data-links {
    position: relative;
    float: left;
    top: 14px;
    left: 28px;
    font-size: 11px;
    font-weight: normal;
    color: #000;
    width: 190px;
}
#header-left>#header-data-links {
    top: 14px;
    left: 28px;
}
#header-data-links a {
	font-size: 11px;
    color: #000;
    text-decoration: underline;
    font-weight: normal;
}
#header-data-links a:hover {
    background: #04d;
    text-decoration: none;
    color: #fff;
}


/* this is where the 6 nav links live */
#header-right {
    float: right;
    height: 66px;
    margin: -1px 2px 0 0px;
    padding: 3px 0 0 3px;
    overflow: visible;
}
html>body #header-right {
    /* non IE browser zone */
    margin: -2px 4px 0 0px;
}
#header-right a {
display: none;
    color: #04d;
    font-family: arial, sans-serif;
	font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    padding: 0;
}

#header-right ul {
    float: left;
    width: 100px;
    margin: 0;
    padding: 0;
}
#header-right li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#header-right ul li {
    white-space: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#header-right ul li a {
    display: block;
    text-align: center;
    width: 100px;
    line-height: 1.9em;
}
#header-right a {
    border-bottom: 1px dotted #fff;
}
html>body #header-right ul li a {
    width: auto;
}
#header-right a:hover {
    background-color: #04d;
    color: #fff;
    border-bottom: 1px solid #04d;
}
/* commented backslash hack hides rule from ie5-mac \*/
#header-right a { }  /* end ie5-mac hack */


/* the navmenu divs are side by side with 3 links each */
#navmenu-left {
    margin: 0;
    text-align: center;
    border-left: 3px double #fff;
}
#navmenu-right {
    border-left: 2px dotted #fff;
    text-align: center;
}


/*-------------------------------------------------
FOOTER
-------------------------------------------------*/

#footersmall {
    width: 100%;
    border: 1px solid #999;
    background-color: #E6E6CF;
    padding: 0;
    margin: 0;
    font-size: 10px;
    text-align: center;
    /*line-height: 2.5em;*/
}
#wrapper > #footersmall {
    /* beginning to despise IE */
    width: 85%;
}
#footer img {
	vertical-align: text-bottom;
    margin-bottom: -2px;
}
#footer a {
    text-decoration: none;
}
#footer ul {
    display: inline;
    padding-left: 15px;
}
#footer li {
    display: inline;
    padding: 0 0px 0 15px;
}
#postfooter {
	clear: both;
	font-size: 1px;
	height: 10px;
}

/*-------------------------------------------------
DATACART
-------------------------------------------------*/
#datacart {
  display: block;
  position: relative;
  top: 13px;
  left: 0px;
  float: left;
  text-align: left;
  width: 190px;
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

#datacart a {text-decoration: none; padding: 1px; font-size: 14px; }
#datacart p {position: relative; top: -5px; padding:0px; margin:0; display:inline;}

.datacart-icon-normal {
    background: url(@images_link@cart_dark.gif) top left no-repeat;
}


/*
html>body #datacart {
  font-weight: normal;
}
*/

.input-box {
    color: #000;
    background-color: #fff;
    border: #000 solid 1px;
    padding-left: 2px;
}

.input-button {
    color: #04d;
    background: #eee;
    border: 2px #04d outset;
}

#tester {
    display: none;
    position: relative; background: cyan; border: 1px solid; border-top-width: 3px;
}

/*-------------------------------------------------
ROUND BOX
-------------------------------------------------*/
/*
<div class="bl"><div class="br"><div class="tl"><div class="tr">
Lorem ipsum dolor sit amet consectetur adipisicing elit
</div></div></div></div>
<div class="clear">&nbsp;</div>
*/
/* requires small, colored, rounded corner images with transparent bgs */
.bl {background: url(@images_link@bl.gif) 0 100% no-repeat; width: 20em}
.br {background: url(@images_link@br.gif) 100% 100% no-repeat}
.tl {background: url(@images_link@tl.gif) 0 0 no-repeat}
.tr {background: url(@images_link@tr.gif) 100% 0 no-repeat #ff0; padding:10px}
.clear {clear: both; font-size: 1px; height: 1px}
.spacer {clear: both; font-size: 10px; height: 10px}
/* ---------- */


/* rounded edges */
.rounded {
    max-width: 620px;
    background: url(@images_link@rs-right.png) right repeat-y
}

.rounded:before {
    display: block;
    line-height: 0;
    background: url(@images_link@rs-topright.png) top right no-repeat;
    content: url(@images_link@rs-topleft.png)
}

.rounded:after {
    display: block;
    line-height: 0;
    background: url(@images_link@rs-bottomright.png) bottom right no-repeat;
    content: url(rs-bottomleft.png)
}


/* Off state for a ARC checkbox */
.cbOff {
	display: inline;
	margin: 0px;
	padding: 2px; /* NS 6 problem */
	padding-left: 20px;
	color: #666;
	line-height: 22px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	background-image: url(@images_link@cart_add_one.gif);
	background-repeat: no-repeat;
	background-position: 0% 50%;
	border: 1px;
}
/* On state for a ARC checkbox */
.cbOn {
	display: inline;
	margin: 0px;
	padding: 2px; /* NS 6 problem */
	padding-left: 20px;
	color: #000;
	line-height: 22px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	background-image: url(@images_link@cart_drop_one.gif);
	background-repeat: no-repeat;
	background-position: 0% 50%;
	border: 0px;
}

.busyicon {
    background: url(@images_link@spinner.gif) top left no-repeat;
}

.busyanim {
    background: url(@images_link@spinner-anim.gif) top left no-repeat;
}

