rmiserver = false # ip address of rmiserver 
# I am mounting my home dir on the rmiserver so it easy to make updates 
# Great for development -- production probably not
#rmiserver.home.dir = /home/farrell/muse/rmiserver/gyro
java1.4.home.dir = /usr/java
servlet_lib = /usr/local/devtools/tomcat/webapps/framework/WEB-INF/lib/

# Database Connection Settings
databaseType = postgresql
databaseUser = postgres
databaseUserPassword = 
databasePort = 1521
hostname = localhost
databaseDriverType = thin
databaseDriverClass = org.postgresql.Driver
databaseConnectString = jdbc:postgresql://localhost/vegtest
databaseName = vegtest

# Vegbank Directories
vegbank.home.dir=/usr/vegtest
