#rmiserver = 128.111.220.59
# I am mounting my home dir on the rmiserver so it easy to make updates 
# Great for development -- production probably not
#rmiserver.home.dir = /home/farrell/muse/rmiserver/gyro
java1.4.home.dir = /usr/java
servlet_lib = /usr/local/devtools/tomcat/webapps/framework/WEB-INF/lib/

# Database Connection Settings
authenticationServletHost = localhost
communityRequestServletHost = localhost
plantRequestServletHost = localhost
geoCoordRequestServletHost = localhost
databaseType = postgresql
databaseUser = postgres
databaseUserPassword = 
databasePort = 1521
hostname = localhost
databaseDriverType = thin
databaseDriverClass = org.postgresql.Driver
databaseConnectString = jdbc:postgresql://localhost/vegtest
databaseName = nvc
insert.minConnections = 1
insert.maxConnections = 3
query.minConnections = 1
query.maxConnections = 3
maxConnectionUsers = 100
resetTime = 0.01
logFile = connectionPool.log

# Vegbank Directories
vegbank.home.dir=/usr/vegtest
