Dear $applicantName:

Congratulations!

Your application to be a $requestedRole VegBank user has been reviewed and approved by the VegBank Certification Panel.  We welcome you to the VegBank community and look forward to your participation as a $requestedRole user.  

An efficent way to engage other VegBank users with questions or comments is through the VegBank email listserve.
@general_link@contact.html

$comment

Sincerely,

Michael Jennings
VegBank Certification Panel

