<?xml version="1.0"?>
<vegClient>
	<OSType>Linux</OSType>
	<RDBMSType>HypersonicSQL</RDBMSType>
	<DBManagerPlugin>vegclient.databasemanager.PostgresLinuxPlugin</DBManagerPlugin>
	<workingDirectory>/</workingDirectory>
	<servletLocation>beta.nceas.ucsb.edu/harris/</servletLocation>
	<servletUserName>user</servletUserName>
	<servletPassWord>pass</servletPassWord>
</vegClient>
