Dear $applicantName:

Your VegBank certification request to be a $requestedRole user has been received and will be reviewed.  Please await our response.

Please direct any questions to the VegBank email listserve.
http://hyperion.nceas.ucsb.edu/vegbank/mailman/listinfo

Thank you,
The VegPanel


