Dear $applicantName:

Your VegBank certification request to be a $requestedRole user has been received and will be reviewed.  Please await our response.

Please direct any questions us at:
help@vegbank.org

Thank you,
The VegPanel


