#*
  $Id: dataload-success.vm,v 1.2 2005-02-10 21:16:34 anderson Exp $
*#
VEGBANK DATA SUBMISSION RECEIPT

result:  SUCCESS
#if( $datasetURL )
dataset: $!datasetURL
#end
file:    $!fileName


#if( $entityCounts.size() > 0 )
LOADED ITEM COUNTS
#foreach( $entity in $entityCounts.keySet() )
    $entity:  $entityCounts.get($entity)
#end
#end


Thank you for your submission.
help@vegbank.org


