#*
  $Id: dataload-log.vm,v 1.2 2005-02-10 21:16:34 anderson Exp $
*#
VEGBANK DATA SUBMISSION LOG

result:  SUCCESS
#if( $datasetURL )
dataset: $!datasetURL
#end
file:    $!fileName


#if( $entityCounts.size() > 0 )
LOADED ITEM COUNTS
#foreach( $entity in $entityCounts.keySet() )
    $entity:  $entityCounts.get($entity)
#end
#end


#if( $transcript )
LOG TRANSCRIPT
#foreach( $line in $transcript )
$line
#end
#end

