###############################################
# Convenient shortcuts to common site content.
#       
# $Id: .htaccess,v 1.28 2009-04-29 20:30:25 mlee Exp $
###############################################

RewriteEngine  on

#### Plot Search
# NC = No Case match, so case insensitive match
# QSA = Query String Append
# L = Last rewrite rule to do, so stop here
RewriteRule ^plotsearch$      @plotquery_page_advanced@   [NC,QSA,L,R]

#### Vegdocs Links
## The cool general case one doesn't work yet
#RewriteCond %{REQUEST_URI}  ^/workshop
  #  ADD OTHER VEGDOCS SHORTCUTS HERE
#RewriteRule ^(.+)$      /vegdocs/$1   [NC,QSA, L]

## But this direct link to workshop does
RewriteRule ^workshop$      /vegdocs/workshop  [NC,QSA,L,R]

RewriteRule ^forgotpassword$  /vegbank/forms/EmailPassword.jsp [NC,QSA,L,R]

####################################################################
## VEGBRANCH rewrites (the VegBranch database accesses these: 
####################################################################

RewriteRule ^vegbranch$      /vegdocs/vegbranch/vegbranch.html  [NC,QSA,L,R]
RewriteRule ^terms$          /vegbank/general/terms.html  [NC,QSA,L,R]
RewriteRule ^vegbranch-usda-states$      /vegdocs/vegbranch/client/vbr_usda_stateranges.zip  [NC,QSA,L,R]
RewriteRule ^vegbranch-nps-version$      /vegdocs/vegbranch/docs/nps-plots.html  [NC,QSA,L,R]

RewriteRule ^xml$            /vegdocs/xml/vegbank-xml-index.html  [NC,QSA,L,R]
RewriteRule ^erd$            /vegdocs/design/erd/vegbank_erd.pdf  [NC,QSA,L,R]

RewriteRule ^load-xml$            /vegbank/DisplayUploadPlotAction.do  [NC,QSA,L,R]
RewriteRule ^load-xml/(.*)$            /vegbank/DisplayUploadPlotAction.do?localfile=$1  [NC,QSA,L,R]

# Rewrite Example
#RewriteCond %{REQUEST_URI}  ^.+\.html
#RewriteCond %{REQUEST_URI}  !/ignore.html
#RewriteRule ^(.+\.html)     /someAction.do?page=$1   [NC,QSA,L]


## /get
# plots are special case:
RewriteCond %{REQUEST_URI}  ^/get/(.*)/plot/([0-9,]+)
RewriteRule ^get/(.*)/plot/([0-9,]+)      @server_address@/vegbank/GenericDispatcher.do?command=Dispatch&view=$1&entity=observation&params=$2&where=where_plotplot_pk   [NC,QSA,L]
#plots by accessioncode
RewriteCond %{REQUEST_URI}  ^/get/(.*)/plot/(.*)
RewriteRule ^get/(.*)/plot/(.*)      @server_address@/vegbank/GenericDispatcher.do?command=Dispatch&view=$1&entity=observation&params=$2&where=where_plot_ac   [NC,QSA,L]


RewriteCond %{REQUEST_URI}  ^/get/(.*)/(.*)/(.*)
RewriteRule ^get/(.*)/(.*)/(.*)      @server_address@/vegbank/GenericDispatcher.do?command=Dispatch&view=$1&entity=$2&params=$3   [NC,QSA,L]

RewriteCond %{REQUEST_URI}  ^/get/(.*)/(.*)
RewriteRule ^get/(.*)/(.*)      @server_address@/vegbank/GenericDispatcher.do?command=Dispatch&view=$1&entity=$2   [NC,QSA,L]



RewriteRule ^cite/([^\.]+)\.Ob\.(.*)$       @get_link@comprehensive/observation/$1.Ob.$2              [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.Pl\.(.*)$	  @get_link@std/observation/$1.Pl.$2?where=where_plot_ac              [NC,QSA,L] 
RewriteRule ^cite/([^\.]+)\.PC\.(.*)$	  @get_link@std/plantconcept/$1.PC.$2      [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.CC\.(.*)$	  @get_link@std/commconcept/$1.CC.$2       [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.Py\.(.*)$	  @get_link@std/party/$1.Py.$2	       [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.Rf\.(.*)$   @get_link@std/reference/$1.Rf.$2	       [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.RJ\.(.*)$	   @get_link@std/referencejournal/$1.RJ.$2  [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.SM\.(.*)$	   @get_link@std/stratummethod/$1.SM.$2     [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.CM\.(.*)$	   @get_link@std/covermethod/$1.CM.$2       [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.NP\.(.*)$	   @get_link@std/namedplace/$1.NP.$2	       [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.Pj\.(.*)$	   @get_link@std/project/$1.Pj.$2	       [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.ST\.(.*)$	   @get_link@std/soiltaxon/$1.ST.$2	       [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.UD\.(.*)$	   @get_link@std/userdefined/$1.UD.$2       [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.TO\.(.*)$	   @get_link@std/taxonobservation/$1.TO.$2  [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.Cl\.(.*)$	   @get_link@std/commclass/$1.Cl.$2	       [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.RP\.(.*)$	   @get_link@std/referenceparty/$1.RP.$2    [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.AR\.(.*)$	   @get_link@std/aux_role/$1.AR.$2	       [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.DS\.(.*)$	   @get_link@std/userdataset/$1.DS.$2       [NC,QSA,L]

RewriteRule ^cite/([^\.]+)\.TI\.(.*)$	   @get_link@std/taxoninterpretation/$1.TI.$2       [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.PS\.(.*)$	   @get_link@detail/plantconcept/$1.PS.$2?where=where_plantstatus_ac     [NC,QSA,L]
RewriteRule ^cite/([^\.]+)\.CS\.(.*)$	   @get_link@detail/commconcept/$1.CS.$2?where=where_commstatus_ac       [NC,QSA,L]

RewriteRule ^dd/(.+)/(.+)$	   @get_link@small/dba_fielddescription/$1.$2?where=where_dd_tabledotfield [NC,QSA,L,R]
RewriteRule ^ddfull/(.+)/(.+)$	   @get_link@detail/dba_tabledescription/$1?where=where_tablename&fieldname=$2 [NC,QSA,L,R]
RewriteRule ^dd/(.+)$	           @get_link@detail/dba_tabledescription/$1?where=where_tablename  [NC,QSA,L,R]
RewriteRule ^dd/(.+)/$	           @get_link@detail/dba_tabledescription/$1?where=where_tablename  [NC,QSA,L,R]

## fix links FROM old data dictionary (probably not needed for long, but for bookmarks and ERD?)
RewriteRule ^vegdocs/dbdictionary/dd~table~([^~]+)~type~tableview.html$	                @get_link@detail/dba_tabledescription/$1?where=where_tablename                 [NC,QSA,L,R]
RewriteRule ^vegdocs/dbdictionary/dd~table~([^~]+)~field~([^~]+)~type~tableview.html$   @get_link@detail/dba_tabledescription/$1?where=where_tablename&fieldname=$2    [NC,QSA,L,R]
RewriteRule ^vegdocs/dbdictionary/dd~table~([^~]+)~field~([^~]+)~type~fieldview.html$   @get_link@detail/dba_fielddescription/$1.$2?where=where_dd_tabledotfield       [NC,QSA,L,R]
RewriteRule ^vegdocs/dbdictionary/dd~table~([^~]+)~field~([^~]+)~type~smallview.html$   @get_link@small/dba_fielddescription/$1.$2?where=where_dd_tabledotfield        [NC,QSA,L,R]
RewriteRule ^vegdocs/dbdictionary/dd-index.html$  @datadictionary-index@         [NC,QSA,L,R]
         
## for deep links FROM natureserve
RewriteRule ^natureserve/(.*)$   @get_link@std/observation/$1?where=where_observation_nsuid   [NC,QSA,L]


## for browsing data
RewriteRule ^browse$	 	   @views_link@topdata.jsp?perPage=5&getonly=0       [NC,QSA,L,R]
RewriteRule ^browse-byplace$	   @views_link@topdata.jsp?perPage=20&getonly=1       [NC,QSA,L,R]
RewriteRule ^browse-bycomm$	   @views_link@topdata.jsp?perPage=20&getonly=5       [NC,QSA,L,R]
RewriteRule ^browse-byparty$	   @views_link@topdata.jsp?perPage=20&getonly=2       [NC,QSA,L,R]
RewriteRule ^browse-byplant$	   @views_link@topdata.jsp?perPage=20&getonly=4       [NC,QSA,L,R]
RewriteRule ^browse-byproject$	   @views_link@topdata.jsp?perPage=20&getonly=3       [NC,QSA,L,R]


## to search communities
RewriteRule ^search/comm/(.*)$      @views_link@commconcept_summary.jsp?where=where_commconcept_mpq&criteriaAsText=+Community+Name++contains+ALL+words+of+$1&xwhereParams_commname_0=$1&xwhereParams_commname_1=cu.commname&matchType=all&xwhereKey_commname=xwhere_match&xwhereSearch_commname=true&xwhereMatchAny_commname=false&xwhereGlue=AND      [NC,QSA,L,R]

RewriteRule ^search/plant/(.*)$     @views_link@plantconcept_summary.jsp?where=where_plantconcept_mpq&criteriaAsText=+Plant+Name++contains+ALL+words+of+$1&xwhereParams_plantname_0=$1&xwhereParams_plantname_1=pu.plantname&matchType=all&xwhereKey_plantname=xwhere_match&xwhereSearch_plantname=true&xwhereMatchAny_plantname=false&xwhereGlue=AND  [NC,QSA,L,R]

RewriteRule ^nvcrs$        http://herbarium.unc.edu:8080/nvcrs/     [NC,QSA,L]
RewriteRule ^nvcrs/(.*)$   http://herbarium.unc.edu:8080/nvcrs/$1   [NC,QSA,L]


RewriteRule ^requestPreassignedAccCode/(.*)/(.*)$ @views_link@getNewRequestID.jsp?tablename=$1&recordcount=$2  [NC,QSA,L]
