###############################################
# Convenient shortcuts to common site content.
#       
# $Id: .htaccess,v 1.3 2004-09-23 03:56:12 anderson Exp $
###############################################

RewriteEngine  on

#### Plot Search
# NC = No Case match, so case insensitive match
# QSA = Query String Append
# L = Last rewrite rule to do, so stop here
RewriteRule ^plotsearch$      /vegbank/LoadPlotQuery.do   [NC,QSA,L]

#### Vegdocs Links
## The cool general case one doesn't work yet
#RewriteCond %{REQUEST_URI}  ^/workshop
  #  ADD OTHER VEGDOCS SHORTCUTS HERE
#RewriteRule ^(.+)$      /vegdocs/$1   [NC,QSA, L]

## But this direct link to workshop does
RewriteRule ^workshop$      /vegdocs/workshop   [NC,QSA,L]


# Rewrite Example
#RewriteCond %{REQUEST_URI}  ^.+\.html
#RewriteCond %{REQUEST_URI}  !/ignore.html
#RewriteRule ^(.+\.html)     /someAction.do?page=$1   [NC,QSA,L]


## /get
#RewriteCond %{REQUEST_URI}  ^/get/
#RewriteRule ^get      http://sun.com

RewriteCond %{REQUEST_URI}  ^/get/(.*)/(.*)/(.*)
RewriteRule ^get/(.*)/(.*)/(.*)      http://gyro.nceas.ucsb.edu:8080/vegbank/GenericDispatcher.do?command=Dispatch&view=$1&entity=$2&params=$3   [NC,QSA,L]

RewriteCond %{REQUEST_URI}  ^/get/(.*)/(.*)
RewriteRule ^get/(.*)/(.*)      http://gyro.nceas.ucsb.edu:8080/vegbank/GenericDispatcher.do?command=Dispatch&view=$1&entity=$2   [NC,QSA,L]



